<h2>Crear Estudiante</h2>
<form>
  <div class="form-group">
    <label for="nombreEstudiante">Nombre del Estudiante</label>
    <input name="nombre" type="text" class="form-control" id="nombreEstudiante"
      placeholder="Ingrese el nombre del estudiante" [(ngModel)]="estudiante.nombre">
  </div>
  <div class="form-group">
    <label for="cursoControlSelect">Seleccione el Curso</label>
    <select name="nombreCurso" class="form-control" id="cursoControlSelect" [(ngModel)]="estudiante.cursoId">
      <option *ngFor="let curso of cursos" [value]="curso.id">{{curso.nombreCurso}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" (click)="crearEstudiante()">Guardar</button>
  <button type="submit" class="btn btn-light" (click)="cancelar()">Cancelar</button>
</form>
